* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgba(3, 3, 117, 0.855);
}

.quiz-block {
    width: 540px;
    max-width: 540px;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}

.quiz-block h1 {
    font-size: 25px;
    font-weight: 600;
    padding: 30px;
    border-bottom: 1px solid black;
    color: #001e4d;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    background-color: #fff;
    color: #001e4d;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-weight: 600;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    border:1px solid #666;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
    transition: 0.4s;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    border-radius: 4px;
    display: none;
}

.correct {
    background-color: #9aeabc;
}

.incorrect {
    background-color: #ff9393;
}